.header {
    margin-bottom: 100px;
    text-align: left;
}

main {
    margin: 50px;
}
h2 {
    color: rgb(52, 98, 98);
    text-align: center;
}

h4 {
    text-align: center;
}

.img {
    height: 350px;
    padding: 10px;
    background-position: center;
}

.result {
    padding: 1rem;
    width: 800px;
    height:650px;
    flex-direction: column;
    margin-left: 70px;
    background-color: white;
}


.info {
    margin-top: 400px; 
}



    
