.header {
    margin-bottom: 100px;
    text-align: left;
}

h2 {
    color: rgb(52, 98, 98);
    text-align: center;
}

h4 {
    text-align: center;
}

p {
   color: rgb(52, 98, 98);
   line-height: ;
}

.img {
    height: 350px;
    padding: 10px;
    background-position: center;
}

.details {
   display: flex;
    width: 800px;
    height:870px;
    flex-direction: column;
    background-color: rgb(231, 227, 227);
    margin-left: 100px;
}


.info {
    margin-top: 400px; 
    line-height: 2em;
}

.loader {
    margin-left: 45%;
}



    
