.header {
    text-align: center;
    height: 200px;
}

.result {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.data {
    display: flex;
    flex-direction: inline;
    flex-direction: column;
    width: 350px;
    padding: 1rem;
    margin: 20px;
    background-color: white;  
}

h4 {
    text-align: end;
}

a {
    text-decoration: none;
}

.card {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    max-width: 300px;
    margin: 1rem;
    border-radius: 1rem;
    text-decoration: none;
}